/* Custom brand colors */
:root {
  /* --primary-color: #4a90e2; */
  --primary-color: #023e8a  
}

/* Override Bootstrap card shadow */
.card {
 border-radius: 1 rem;
 border: none;
 box-shadow: 0 10px 25px rgba(0,0,0,0.15) !important;
} 

.bg-card {
  /* background-color:#faf0ca;  */
  background-color:#c2e7ff;
}

.login-card:hover {
  transform: translateY(-5px);
  transition: 0.3s ease;
}

/* Custom loader animation */
.loading-spinner {
  animation: spin 1s infinite;
}

/* App-specific layouts */
.dashboard-grid {
  display: grid;
  gap: 2rem;
}
.dropdown-item:hover {
  background: #f1f5ff;
  cursor: pointer;
  border-radius: 6px;
}
 
/* .login-pg-background {
 background: linear-gradient(135deg,#0d6efd, #1e3a8a);
 min-height: 100vh;
} */

.bg-orange {
  background-color: #FF8042
}

.select option {
  padding-left: 6px;
}

.medium-large {
  font-size: 3rem;
  font-weight: bold;
}
.extra-large {
  font-size: 4rem;
  font-weight: bold;
}

.script-heading {
  font-family: 'Great Vibes', cursive;
  font-size: 5rem;
  font-weight: 400;
}

.script-text {
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
  font-weight: 400;      /* Usually lighter for scripts */
  letter-spacing: 0.05em; /* Add breathing room */
  line-height: 1;      /* More space between lines */
}
.same-btn {
  min-width: 70px; /* pick any size you want */
  padding: 0.2rem 0.45rem;
  font-size: 0.8rem;
}

@media (max-width: 576px) {
  .same-btn {
    min-width: 58px;
    padding: 0.15rem 0.35rem;
    font-size: 0.72rem;
  }
}
